@if(flash.containsKey("username-empty")){
	<div class="alert alert-warning">Username required.</div>
}

@if(flash.containsKey("password-empty")){
	<div class="alert alert-warning">Password required.</div>
}

@if(flash.containsKey("no-username-password-match")){
	<div class="alert alert-warning">Password and/or Username incorrect</div>
}

<form role="form" action="@routes.Application.login" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>